/* FULL LAYOUT */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial;
}

/* LEFT SIDE */
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.illustration {
  width: 80%;
  max-width: 500px;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fde9f4;
}

/* CARD */
.card {
  width: 420px;
  background: #fde9f4;
  padding: 50px 40px;
  border-radius: 30px;
  text-align: center;
}

/* TITLE */
.title {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
  font-size: 14px;
  color: #444;
  margin-bottom: 25px;
  line-height: 1.4;
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  outline: none;
}

.input:focus {
  border-color: #ff4d7d;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff2d55;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #e6003d;
}

/* BACK LINK */
.back {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.back:hover {
  color: #ff2d55;
}